h1 {
  text-align: center;
  color: yellow;
  font-family: Tangerine, serif;
  font-size: xxx-large;
}
.profiles {
  text-align: center;
  width: 60%;
  color: yellow;
  font-family: Tangerine, serif;
  font-size: larger;
}

.duke{
  text-align: center;
}
h2 {
  color: lightgreen;
  font-family: Tangerine, serif;
  font-size: xx-large;
}
body {
  background-image: url("https://ssl.quiksilver.com/static/QS/default/category-assets/marketing-landing/landing/build/img/surf/tiles/surf_featured_1.jpg")
}